$bg-color-1: #F44F60;
$bg-color-2: #D00269;
$bg-color-3: #30CC71;

$button-bg : #fff; 
$button-color-1 : $button-bg;
$button-color-2 : $button-bg;
$button-color-3 : #3cb0fd;
$butoon-color-4 : #666666;
$butoon-color-5 : #6781ff;
$button-color-text : $bg-color-1;

$theme-first-color-1: #fd916a;
$theme-first-color-2: #fd6266;
$theme-second-color-1: #f5515f;
$theme-second-color-2: #d00269;
$theme-third-color-1: #6eecce;
$theme-third-color-2: #30cc71;
